:root {
  --booklist-height: 550px;
  --div-color: rgb(255, 247, 241);
}
body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/library-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main{
  margin: 0 auto;
}
h1.main-title{
  text-align: center;
  font-size: 4em;
  color: gold;
  text-shadow: 0 0 1em gold;
  margin: 0.5em;
}
.text-input{
  height: 30px;
  font-size: 22px;
  color: #222;
  background: var(--div-color);
  border-radius: 4px;
  border-color: #fff;
  border-style: none;
  box-shadow: inset 0 0 3px #777777;
}
.submit-button{
  height: 40px;
  font-size:1.2em;
  margin-left: 10px;
}

.form{
  text-align: center;
}
.booklist, .favourites{
  height: var(--booklist-height);
  border: 1px solid black;
  margin: 20px;
  border-radius: 15px;
}
.content{
  display: flex;
  width: 98%;
  margin: 0 auto;
}
.booklist{
  display: flex;
  border: 0;
}
.left, .right{
  height: inherit;
  line-height: var(--booklist-height);
}
.center{
  width: 800px;
  height: var(--booklist-height);
  padding: 5px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: var(--div-color);
  box-shadow: inset 0 0 8px #777777;
  overflow: auto;
}
.booklist button{
  position: relative;
  top: 13px;
  height: 100px;
  line-height: 100px;
  margin: 10px;
  font-size: 5em;
  box-shadow: inset 0 0 8px #777777;
  border: 1px solid #777777;
  background: var(--div-color);
  border-radius: 3px;
  transition: transform .1s, -webkit-transform .1s;
  cursor: pointer;
}
.booklist button:hover{
  transform: scale(1.2);
}
button span{
  position: relative;
  bottom: 5px;
}
.favourites{
  height: var(--booklist-height);
  min-width: 300px;
  border: 1px solid grey;
  margin: 20px;
  padding: 5px;
  border-radius: 15px;
  background-color: var(--div-color);
  box-shadow: inset 0 0 8px #777777;
  overflow: auto;
}
.tr-content{
  transition: transform .1s, -webkit-transform .1s;
}
.tr-content:hover{
  margin-left: 10px;
  background: rgb(255, 231, 186);
    cursor: pointer;
}
.book-record{
  width:100%;
  padding: 10px;
}
td.book-fav{
  padding: 10px;
}
th{
  width:760px;
  padding: 10px;
  padding-bottom: 0;
  text-align: left;
  font-size: 2em;
}
.record-div{
  display: flex;
  justify-content: space-between;
}
.star{
  font-size: 1.5em;
  width: 20px;
  padding-right: 30px;
}
.cross{
  font-size: 1.5em;
  width: 20px;
  padding-right: 15px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.cross:hover{
  color: rgb(255, 42, 0);
  cursor: pointer;
}
.div-cross{
  display: table;
}

.star:hover{
  color: gold;
  cursor: pointer;
}
.table-books{
  width: 100%;
}
.loading-span{
  padding: 25px;
  font-size: 2.5em;
}

.book-text{
  position: relative;
  left: 40px;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 10px;

  padding: 10px;
  background: var(--div-color);

  box-shadow: inset 0 0 8px #777777;
  border: 1px solid #777777;
  border-radius: 15px;
}

iframe{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1080px) {
  .content{
    display: block;
    width: 100%;
  }
  .book-text{
    position: static;
  }
  .booklist{
    margin: 0;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .favourites{
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
    .booklist button {
        position: relative;
        top: 13px;
        height: 100px;
        line-height: 100px;
        margin: 0;
        font-size: 3em;
      }
    .booklist button:hover{
      transform: none;
    }
}